<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915057572437-3ug51cqh87bld6rue1hssn5ld9jlq032.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915057572437-3ug51cqh87bld6rue1hssn5ld9jlq032</string>
	<key>API_KEY</key>
	<string>AIzaSyDRsbunnQC3upzCk5ssPikhSw2FqVJo1t8</string>
	<key>GCM_SENDER_ID</key>
	<string>915057572437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.belajarubic.workshop</string>
	<key>PROJECT_ID</key>
	<string>my-chat-app-belajarubic</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-app-belajarubic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915057572437:ios:dc3cf4277c6b0336e3b2dc</string>
</dict>
</plist>